#RotateCircleFrame {
  .RotateCircleFrame-container {
    position: relative;
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
    img {
      position: absolute;
      animation-duration: 5s;
      animation-name: rotation;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

    }
    //.first-element {
    //  animation-duration: 10s;
    //}
    //.second-element {
    //  animation-duration: 12s;
    //}
    //.three-element {
    //  animation-duration: 14s;
    //
    //}
    //.four-element {
    //  animation-duration: 16s;
    //}
  }
}