@mixin mediaWidth($media-width) {
  @media screen and (max-width: #{$media-width}px) {
    @content;
  }
}
.main-input {
  margin: 10px auto;
}
.delete-btn {
  cursor: pointer;
}
.note-element {
  width: 47%;
  @include mediaWidth(768) {
    width: 75% !important;
  }
  @include mediaWidth(401) {
    width: 90% !important;
  }
}

.verify {
  width: 23px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  position: relative;
  top: 3px;
}
.verify strong {
  position: absolute;
  top: -2px;
  right: 3px;
}

.note-completed {
  text-decoration: line-through;
}

.service-buttons {
  width: 30%;
  margin: 10px auto!important;
  @include mediaWidth(768) {
    width: 50% !important;
  }
  @include mediaWidth(401) {
    margin-top: 20px!important;
    width: 75% !important;
  }
}

.ToDo-input {
  width: 50% !important;
  @include mediaWidth(768) {
    width: 75% !important;
  }
  @include mediaWidth(401) {
    width: 90% !important;
  }
}