@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import "../index";

* {
  //transition: all ease .5s;
}

.main-header {
  //height: 466px;
  width: 100%;
  top: 0;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  transition: top .5s ease;
  @include mediaWidth(768) {
    text-align: left;
  }

  &--animate {
    //height: 103px;
    top: -372px;
    z-index: 1000;
    @include mediaWidth(900) {
      top: -242px;
    }
    @include mediaWidth(768) {

    }
  }
  &--fixed {
    position: fixed;
  }


  .header-bg {
    padding: 40px 20px 20px;
    transition: height ease .5s;
    background: url(./images/bg-dimmer.jpg) no-repeat center 0;
    background-size: cover;
    @include mediaWidth(900) {
      //height: 50vh;
    }
    .header-wrapper {
      position: relative;
      top: 0;
      transition: opacity ease-in .1s;
      opacity: 1;

    }
  }

}






