* {
  //transition: none!important;
}

#GameApp {
  height: 100vh;
  .main-frame {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    //overflow: hidden;
    position: relative;
    top: 100px;
    .start-button {
      width: 100px;
      height: 35px;
      left: calc(50% - 50px);
      top: calc(50% - 17.5px);
      position: absolute;
    }
    .coin {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background: #000;
      position: absolute;
      top: -20px;
    }
    .keeper {
      width: 100px;
      height: 30px;
      background: #2b2548;
      align-self: end;
      position: relative;
    }
  }
}

