/*
The CSS export should solely be used as a reference.
For a more detailed animation export the JSON file should be used.
*/
#Vector {
    transform: translateX(-50%) translateY(-50%);
    animation: Vector__strokeColor__1 501ms 0ms linear forwards;
}

@keyframes Vector__strokeColor__1 {
    from {
        border-color: rgba(250.75000405311584,255,42.500005066394806,0.07999999821186066);
    }

    to {
        border-color: rgba(251,255,43,1);
    }
}
