@import "../../../index";

#SkillsRunningLine {
  .SkillsRunningLine-frame {
    width: 100%;
    //top: 1000px;
    display: flex;
    height: 125px;
    overflow: hidden;
    //position: absolute;
    align-items: center;
    background: #5F557D;
    @include mediaWidth(900) {
      height: 100px;
    }
    @include mediaWidth(768) {
      height: 80px;
    }
  }
  .SkillsRunningLine-textLine {
    gap: 70px;
    width: 100%;
    height: 38px;
    display: flex;
    color: #CADFDF;
    font-size: 32px;
    position: relative;
    font-family: 'Jura', sans-serif;
    background: url(./images/line.svg);
    animation: textLine-movement-animation 6s linear infinite ;
    @include mediaWidth(900) {
      height: 33px;
      background: url(./images/line-tablet.svg);
      animation: textLine-movement-animation-tablet 6s linear infinite ;

    }

  }

  @keyframes textLine-movement-animation-tablet {
    from{
      background-position: 0 0;}
    to{
      background-position: 976px 0;
    }
  }
  @keyframes textLine-movement-animation {
    from{
      background-position: 0 0;}
    to{
      background-position: 1230px 0;
    }
  }
}