@import "../../../index";
#ContactMeBtn {
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
  @include mediaWidth(768) {
    flex-direction: column;
  }
  .ContactMeBtn-button {
    background: #C6853C;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.25);
    width: 429px;
    height: 95px;
    color: #fff;
    font-size: 36px;
    border: none;
    transition: letter-spacing .6s ease,
               box-shadow .2s ease-in-out,
               transform .1s ease-in-out;
    @include mediaWidth(900) {
      width: 350px;
      height: 75px;
      font-size: 28px;
    }
    @include mediaWidth(768) {
      order: 1;
      width: 100%;
      height: 65px;
      font-size: 22px;

    }
    &:hover {
      //letter-spacing: 10px;
    }
    &:active {
      box-shadow: none!important;
      transform: scale3d(.98, .98, .98);
    }
  }

  .ContactMeBtn-social-net {
    gap: 8px;
    display: flex;
    margin-right: -220px;
    @include mediaWidth(768) {
      position: relative;
      top: -20px;
      margin: 0!important;
      z-index: -1;
      order: 2;
    }
  }
  .ContactMeBtn-social-net img {
    transition: transform .2s ease;
  }
  .ContactMeBtn-social-net img:hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }

}