@mixin mediaWidth($media-width) {
  @media screen and (max-width: #{$media-width}px) {
    @content;
  }
}

#Calculator {
  margin-bottom: 20px;
  .flex-box {
    display: flex;
  }

  button {
    width: 89px;
    height: 30px;
    border-radius: 5px;
    border-color: #ffffff;
    background: #f9fafb;

    @include mediaWidth(401) {
      width: 44.5px;
    }
  }

  button[value='0'] {
    width: 178px;
    @include mediaWidth(401) {
      width: 89px;
    }
  }

  button[value='c'] {
    width: (178px+89px);
    @include mediaWidth(401) {
      width: 133.5px;
    }
  }

  .main-frame {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    @include mediaWidth(768) {
      width: 100%;
    }
    @include mediaWidth(401) {
      width: 226px;
    }
    .input {
      .input-field {
        width: 74.5%;
        color: #9e9e9e;
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
      }

      .button-result {
        width: 89px;
        height: 30px;

        background: #d6d6d6;
      }
    }

    .keyboard {
      flex-wrap: wrap;
      justify-content: center;
      @include mediaWidth(768) {

      }
    }
  }
}