@import "./index";

.App-main {
  height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: height .4s ease, margin-top 0s linear;
  &--auto {
    margin-top: 94px;
    @include mediaWidth(900) {
      margin: 70px 0;
    }
    @include mediaWidth(768) {
      margin: 41px 0;
    }
  }
}


main#App-main.App-main-extended {
  margin: 100px 0 50px;
  height: 800px;
  @include mediaWidth(900) {
    margin: 70px 0;
  }
  @include mediaWidth(768) {
    margin: 41px 0;
  }
  @include mediaWidth(634) {
    height: 1000px;
  }
}


.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 0;
  height: 0;
}
//.fade-exit.fade-exit-active {
//}



//@include mediaWidth(1024) {
//  padding: 30px 0 103px;
//}


//@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Play:wght@400;700&family=Ruslan+Display&display=swap');
//// vars
//$white: #fff;
//$red: #DD0808;
//
//.App {
//  position: relative;
//  top: 0;
//  transition: top ease .4s;
//}
//
//* {
//  margin: 0;
//  box-sizing: border-box;
//  text-decoration: none;
//}
//
//
//h2 {
//  font-size: 30px;
//  letter-spacing: 0.2em;
//  margin: 0;
//}
//
//// COLORS
//.color-white {
//  color: $white;
//}
//
//.flex-box {
//  display: flex;
//}
//
//.nav-menu-active-element {
//  color: $red !important;
//  transition: all ease .5s;
//}
//
//.nav-menu-active-element:hover {
//  color: $white !important;
//}
//
//.page {
//  position: relative;
//  background: #fff;
//  margin: 0 auto;
//}
//
//main {
//  height: 0px;
//  overflow: hidden;
//  transition: height ease-in-out .5s, padding-top ease-out .3s;
//}
//
//.main-expanded {
//  height: 700px;
//}
//
//.main-padding-top {
//  padding-top: 100px;
//}
//
//.main-name {
//  font-family: 'Play', sans-serif;
//  font-size: 40px;
//  margin: 0;
//  letter-spacing: 0.25em;
//}